.sign-in {
  margin-top: 15px;
  border: 1px solid black;
  padding: 10px;
  box-shadow: 10px 10px 20px black;
  min-width: 400px;

  .form-group {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 15px;
  }

  .btn {
    margin-top: 15px;
  }
}
