.header-logo {
  margin: 4px;
  margin-top: 0;

  .Tilt {
    height: 150px;
    width: 150px;
    padding: 5px;
    box-shadow: 0px 0px 20px black;
    background: linear-gradient(89deg, #04c8de, #ff5edf 100%);
  }
}
